<div class="row">
    <div class="col-md-4 m-auto">
        <div class="container mt-5">
                <h3 class="text-center">Login Page</h3>
            <form action="/login" method="post" class="mt-5">
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example1">Email address</label>
                    <input type="email" id="form2Example1" class="form-control" name="Email" />
                </div>
                <div class="form-outline mb-4">
                    <label class="form-label" for="form2Example2">Password</label>
                    <input type="password" id="form2Example2" class="form-control" name="Password" />
                </div>
                <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>
                <div class="text-center">
                    <p>Not have an account? <a href="/signup">Create account</a></p>
                </div>
            </form>
        </div>
    </div>
</div>